extends layout
  
block content

  // Preloader
  div#preloader
    div#status

  // Home start
  section#homeyouthcouncil2015.pfblock-image.screen-height
    .home-overlay
    .intro
      .start= t('home.start')
      a(href='#training')= t('home.achievement')
      .start= t('home.startDescription')
    a(href='#training')
      .scroll-down
        span
          i.fa.fa-angle-down.fa-2x
  // Home end

  // Navigation start
  header.header
    nav.navbar.navbar-custom(role="navigation")
      .container
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#custom-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/")= t('home.start')
        #custom-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href="/")= t('nav.home')
            li
              a(href="/youthcouncil2015")= t('nav.youthcouncil2015') 
            li
              a(href="/youthcouncil2013")= t('nav.youthcouncil2013') 
            li
              a(href="/#teams")= t('nav.teams') 
            li
              a(href="/#partners")= t('nav.partners') 
            li
              a(href="/#contact")= t('nav.contact') 
            li
              a.aFlag.dropdown-toggle(type='button', data-toggle='dropdown')
                span.fa.fa-flag
                span= t('nav.languages')
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='?setLng=ar')= t('nav.arabe') 
                li.divider
                li
                  a(href='?setLng=en')= t('nav.english') 
                li.divider
                li
                  a(href='?setLng=fr')= t('nav.french') 
                li.divider
                li
                  a(href='?setLng=dev')= t('nav.test') 
    // .container
  // Navigation end

  // training & workshop 2015 starts: description + gallery
  section#training.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('youthcouncil2015.training2015')
            .pfblock-line
            .pfblock-subtitle= t('youthcouncil2015.trainingDescription')
      // The Gallery as lightbox dialog, should be a child element of the document body
      .container
        // The Bootstrap Image Gallery lightbox, should be a child element of the document body
        #blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
          // The container for the modal slides
          .slides
          // Controls for the borderless lightbox
          h3.title
          a.prev &#8249;
          a.next &#8250;
          a.close &#215;
          a.play-pause
          ol.indicator
          // The modal dialog, which will be used to wrap the lightbox content
          .modal.fade
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type="button", aria-hidden="true") &#215;
                  h4.modal-title
                .modal-body.next
                .modal-footer
                  button.btn.btn-primary.pull-left.prev(type="button")
                    i.fa.fa-arrow-left
                    | Previous
                  button.btn.btn-primary.next(type="button")
                    | Next
                    i.fa.fa-arrow-right
     
        #linkstrainingPictures
          a(href="img/training2015/1.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/1.png", alt="1" , height="100", width="120")

          a(href="img/training2015/2.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/2.png", alt="2", height="100", width="120")

          a(href="img/training2015/3.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/3.png", alt="3" , height="100", width="120")

          a(href="img/training2015/4.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/4.png", alt="4" , height="100", width="120")

          a(href="img/training2015/5.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/5.png", alt="5" , height="100", width="120")

          a(href="img/training2015/6.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/6.png", alt="6" , height="100", width="120")

          a(href="img/training2015/7.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/7.png", alt="7" , height="100", width="120")

          a(href="img/training2015/8.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/8.png", alt="8" , height="100", width="120")

          a(href="img/training2015/9.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/9.png", alt="9" , height="100", width="120")

          a(href="img/training2015/10.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/10.png", alt="10" , height="100", width="120")

          a(href="img/training2015/11.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/11.png", alt="11" , height="100", width="120")

          a(href="img/training2015/12.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/12.png", alt="12" , height="100", width="120")  

          a(href="img/training2015/13.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/13.png", alt="13" , height="100", width="120")  

          a(href="img/training2015/14.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/14.png", alt="14" , height="100", width="120")  

          a(href="img/training2015/15.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/15.png", alt="15" , height="100", width="120")  

          a(href="img/training2015/16.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/16.png", alt="16" , height="100", width="120") 

          a(href="img/training2015/17.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/17.png", alt="17" , height="100", width="120") 

          a(href="img/training2015/18.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/18.png", alt="18" , height="100", width="120") 

          a(href="img/training2015/19.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/19.png", alt="19" , height="100", width="120")

          a(href="img/training2015/20.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/20.png", alt="20" , height="100", width="120")

          a(href="img/training2015/21.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/21.png", alt="21" , height="100", width="120")

          a(href="img/training2015/22.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/22.png", alt="22" , height="100", width="120")

          a(href="img/training2015/23.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/23.png", alt="23" , height="100", width="120") 

          a(href="img/training2015/24.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/24.png", alt="24" , height="100", width="120") 

          a(href="img/training2015/25.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/25.png", alt="25" , height="100", width="120") 

          a(href="img/training2015/26.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/26.png", alt="26" , height="100", width="120") 

          a(href="img/training2015/27.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/27.png", alt="27" , height="100", width="120") 

          a(href="img/training2015/28.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/28.png", alt="28" , height="100", width="120") 

          a(href="img/training2015/29.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/29.png", alt="29" , height="100", width="120") 

          a(href="img/training2015/30.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/30.png", alt="30" , height="100", width="120") 

          a(href="img/training2015/31.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/31.png", alt="31" , height="100", width="120") 

          a(href="img/training2015/32.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/32.png", alt="32" , height="100", width="120") 

          a(href="img/training2015/33.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/33.png", alt="33" , height="100", width="120") 

          a(href="img/training2015/34.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/34.png", alt="34" , height="100", width="120") 

          a(href="img/training2015/35.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/35.png", alt="35" , height="100", width="120") 

          a(href="img/training2015/36.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/36.png", alt="36" , height="100", width="120")     

          a(href="img/training2015/37.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/37.png", alt="37" , height="100", width="120") 

          a(href="img/training2015/38.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/38.png", alt="38" , height="100", width="120") 

          a(href="img/training2015/39.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/39.png", alt="39" , height="100", width="120") 

          a(href="img/training2015/40.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/40.png", alt="40" , height="100", width="120") 

          a(href="img/training2015/41.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/41.png", alt="41" , height="100", width="120") 

          a(href="img/training2015/42.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/42.png", alt="42" , height="100", width="120") 

          a(href="img/training2015/43.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/43.png", alt="43" , height="100", width="120") 

          a(href="img/training2015/44.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/44.png", alt="44" , height="100", width="120") 

          a(href="img/training2015/45.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/45.png", alt="45" , height="100", width="120")   

          a(href="img/training2015/46.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/46.jpg", alt="45" , height="100", width="120")  

          a(href="img/training2015/47.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/47.jpg", alt="45" , height="100", width="120")  

          a(href="img/training2015/48.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/48.jpg", alt="45" , height="100", width="120")  

          a(href="img/training2015/49.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/49.jpg", alt="45" , height="100", width="120")   

          a(href="img/training2015/50.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/50.jpg", alt="45" , height="100", width="120")  

          a(href="img/training2015/51.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/51.jpg", alt="45" , height="100", width="120")  

          a(href="img/training2015/52.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/52.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/53.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/53.jpg", alt="45" , height="100", width="120")   

          a(href="img/training2015/54.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/54.jpg", alt="45" , height="100", width="120")  

          a(href="img/training2015/55.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/55.jpg", alt="45" , height="100", width="120")  

          a(href="img/training2015/56.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/56.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/57.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/57.jpg", alt="45" , height="100", width="120")   

          a(href="img/training2015/58.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/58.jpg", alt="45" , height="100", width="120")  

          a(href="img/training2015/59.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/59.jpg", alt="45" , height="100", width="120")  

          a(href="img/training2015/60.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/60.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/61.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/61.jpg", alt="45" , height="100", width="120")   

          a(href="img/training2015/62.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/62.jpg", alt="45" , height="100", width="120")  

          a(href="img/training2015/63.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/63.jpg", alt="45" , height="100", width="120")  

          a(href="img/training2015/64.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/64.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/65.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/65.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/66.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/66.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/67.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/67.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/68.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/68.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/69.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/69.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/70.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/70.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/71.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/71.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/72.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/72.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/73.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/73.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/74.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/74.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/75.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/75.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/76.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/76.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/77.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/77.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/78.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/78.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/79.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/79.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/80.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/80.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/81.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/81.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/82.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/82.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/83.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/83.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/84.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/84.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/85.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/85.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/86.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/86.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/87.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/87.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/88.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/88.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/89.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/89.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/90.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/90.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/91.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/91.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/92.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/92.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/93.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/93.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/94.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/94.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/95.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/95.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/96.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/96.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/97.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/97.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/98.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/98.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/99.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/99.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/100.jpg", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/100.jpg", alt="1" , height="100", width="120")

          a(href="img/training2015/102.jpg", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/102.jpg", alt="2", height="100", width="120")

          a(href="img/training2015/103.jpg", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/103.jpg", alt="3" , height="100", width="120")

          a(href="img/training2015/104.jpg", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/104.jpg", alt="4" , height="100", width="120")

          a(href="img/training2015/105.jpg", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/105.jpg", alt="5" , height="100", width="120")

          a(href="img/training2015/106.jpg", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/106.jpg", alt="6" , height="100", width="120")

          a(href="img/training2015/107.jpg", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/107.jpg", alt="7" , height="100", width="120")

          a(href="img/training2015/108.jpg", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/108.jpg", alt="8" , height="100", width="120")

          a(href="img/training2015/109.jpg", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/109.jpg", alt="9" , height="100", width="120")

          a(href="img/training2015/111.jpg", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/111.jpg", alt="11" , height="100", width="120")

          a(href="img/training2015/112.jpg", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/112.jpg", alt="12" , height="100", width="120")  

          a(href="img/training2015/113.jpg", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/113.jpg", alt="13" , height="100", width="120")  

          a(href="img/training2015/114.jpg", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/114.jpg", alt="14" , height="100", width="120")  

          a(href="img/training2015/115.jpg", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/115.jpg", alt="15" , height="100", width="120")  

          a(href="img/training2015/116.jpg", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/116.jpg", alt="16" , height="100", width="120") 

          a(href="img/training2015/117.jpg", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/117.jpg", alt="17" , height="100", width="120") 

          a(href="img/training2015/118.jpg", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/118.jpg", alt="18" , height="100", width="120") 

          a(href="img/training2015/119.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/119.jpg", alt="19" , height="100", width="120")

          a(href="img/training2015/120.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/120.jpg", alt="20" , height="100", width="120")

          a(href="img/training2015/121.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/121.jpg", alt="21" , height="100", width="120")

          a(href="img/training2015/122.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/122.jpg", alt="22" , height="100", width="120")

          a(href="img/training2015/123.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/123.jpg", alt="23" , height="100", width="120") 

          a(href="img/training2015/124.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/124.jpg", alt="24" , height="100", width="120") 

          a(href="img/training2015/125.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/125.jpg", alt="25" , height="100", width="120") 

          a(href="img/training2015/126.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/126.jpg", alt="26" , height="100", width="120") 

          a(href="img/training2015/127.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/127.jpg", alt="27" , height="100", width="120") 

          a(href="img/training2015/128.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/128.jpg", alt="28" , height="100", width="120") 

          a(href="img/training2015/129.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/129.jpg", alt="29" , height="100", width="120") 

          a(href="img/training2015/130.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/130.jpg", alt="30" , height="100", width="120") 

          a(href="img/training2015/131.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/131.jpg", alt="31" , height="100", width="120") 

          a(href="img/training2015/132.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/132.jpg", alt="32" , height="100", width="120") 

          a(href="img/training2015/133.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/133.jpg", alt="33" , height="100", width="120") 

          a(href="img/training2015/134.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/134.jpg", alt="34" , height="100", width="120") 

          a(href="img/training2015/135.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/135.jpg", alt="35" , height="100", width="120") 

          a(href="img/training2015/136.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/136.jpg", alt="36" , height="100", width="120")     

          a(href="img/training2015/137.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/137.jpg", alt="37" , height="100", width="120") 

          a(href="img/training2015/138.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/138.jpg", alt="38" , height="100", width="120") 

          a(href="img/training2015/139.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/139.jpg", alt="39" , height="100", width="120") 

          a(href="img/training2015/140.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/140.jpg", alt="40" , height="100", width="120") 

          a(href="img/training2015/141.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/141.jpg", alt="41" , height="100", width="120") 

          a(href="img/training2015/142.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/142.jpg", alt="42" , height="100", width="120") 

          a(href="img/training2015/143.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/143.jpg", alt="43" , height="100", width="120") 

          a(href="img/training2015/144.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/144.jpg", alt="44" , height="100", width="120")

          a(href="img/training2015/145.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/145.jpg", alt="45" , height="100", width="120")   

          a(href="img/training2015/146.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/146.jpg", alt="45" , height="100", width="120")  

          a(href="img/training2015/147.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/147.jpg", alt="45" , height="100", width="120")  

          a(href="img/training2015/148.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/148.jpg", alt="45" , height="100", width="120")  

          a(href="img/training2015/149.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/149.jpg", alt="45" , height="100", width="120")   

          a(href="img/training2015/150.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/150.jpg", alt="45" , height="100", width="120")  

          a(href="img/training2015/151.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/151.jpg", alt="45" , height="100", width="120")  

          a(href="img/training2015/152.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/152.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/153.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/153.jpg", alt="45" , height="100", width="120")   

          a(href="img/training2015/154.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/154.jpg", alt="45" , height="100", width="120")  

          a(href="img/training2015/155.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/155.jpg", alt="45" , height="100", width="120")  

          a(href="img/training2015/156.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/156.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/157.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/157.jpg", alt="45" , height="100", width="120")   

          a(href="img/training2015/158.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/158.jpg", alt="45" , height="100", width="120")  

          a(href="img/training2015/159.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/159.jpg", alt="45" , height="100", width="120")  

          a(href="img/training2015/160.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/160.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/161.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/161.jpg", alt="45" , height="100", width="120")   

          a(href="img/training2015/162.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/162.jpg", alt="45" , height="100", width="120")  

          a(href="img/training2015/163.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/163.jpg", alt="45" , height="100", width="120")  

          a(href="img/training2015/164.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/164.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/165.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/165.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/166.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/166.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/167.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/167.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/168.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/168.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/169.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/169.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/170.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/170.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/171.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/171.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/172.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/172.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/173.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/173.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/174.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/174.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/175.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/175.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/176.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/176.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/177.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/177.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/178.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/178.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/179.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/179.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/180.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/180.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/181.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/181.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/182.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/182.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/183.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/183.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/184.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/184.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/185.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/185.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/186.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/186.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/187.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/187.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/188.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/188.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/189.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/189.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/190.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/190.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/191.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/191.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/192.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/192.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/193.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/193.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/194.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/194.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/195.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/195.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/196.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/196.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/197.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/197.jpg", alt="45" , height="100", width="120") 

          a(href="img/training2015/198.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/198.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/199.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/199.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/200.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/200.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/201.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/201.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/202.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/202.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/203.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/203.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/204.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/204.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/205.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/205.jpg", alt="45" , height="100", width="120")

          a(href="img/training2015/206.jpg",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/206.jpg", alt="45" , height="100", width="120")             

    // .container
  // training & workshop 2015 ends: description + gallery

  // ==========================================================================
  // Mini projects
  // ==========================================================================
  section#projects.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('youthcouncil2015.miniproject')
            .pfblock-line
            .pfblock-subtitle= t('youthcouncil2015.miniprojectDescrip')
    // .contaier
  // erriadh 2015 ends: description + gallery

  // ==========================================================================
  // ERRIADH
  // ==========================================================================
  section#projects.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('youthcouncil2015.erriadh')
            .pfblock-line
            .pfblock-subtitle= t('youthcouncil2015.projectErriadh')
    // .contaier
  // erriadh 2015 ends: description + gallery

  // ==========================================================================
  // Hammam Sousse
  // ==========================================================================
  section#projects.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('youthcouncil2015.hs')
            .pfblock-line
            .pfblock-subtitle= t('youthcouncil2015.projectHS')
    // .contaier
    // The Gallery as lightbox dialog, should be a child element of the document body
    .container
      #linksminiProjectHS
        a(href="img/hammamSousse2015/1.jpg", title="Hammam Sousse mini project 2015", data-gallery="")
          img(src="img/hammamSousse2015/1.jpg", alt="1" , height="100", width="120")

        a(href="img/hammamSousse2015/2.jpg", title="Hammam Sousse mini project 2015", data-gallery="")
          img(src="img/hammamSousse2015/2.jpg", alt="2", height="100", width="120")

        a(href="img/hammamSousse2015/3.jpg", title="Hammam Sousse mini project 2015", data-gallery="")
          img(src="img/hammamSousse2015/3.jpg", alt="3" , height="100", width="120")

        a(href="img/hammamSousse2015/4.jpg", title="Hammam Sousse mini project 2015", data-gallery="")
          img(src="img/hammamSousse2015/4.jpg", alt="4" , height="100", width="120")

        a(href="img/hammamSousse2015/5.jpg", title="Hammam Sousse mini project 2015", data-gallery="")
          img(src="img/hammamSousse2015/5.jpg", alt="5" , height="100", width="120")

        a(href="img/hammamSousse2015/6.jpg", title="Hammam Sousse mini project 2015", data-gallery="")
          img(src="img/hammamSousse2015/6.jpg", alt="6" , height="100", width="120")

        a(href="img/hammamSousse2015/7.jpg", title="Hammam Sousse mini project 2015", data-gallery="")
          img(src="img/hammamSousse2015/7.jpg", alt="7" , height="100", width="120")

  // ==========================================================================
  // Kalaa Kebira
  // ==========================================================================
  section#projects.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('youthcouncil2015.kk')
            .pfblock-line
            .pfblock-subtitle= t('youthcouncil2015.projectKK')
    // .contaier
  // miniProjectKK 2013 ends: description + gallery

  // ==========================================================================
  // Ksibet Mediouni
  // ==========================================================================
  section#projects.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('youthcouncil2015.km')
            .pfblock-line
            .pfblock-subtitle= t('youthcouncil2015.projectKM')
    // .contaier
  // miniProjectKK 2013 ends: description + gallery

  // ==========================================================================
  // M'Saken
  // ==========================================================================
  section#projects.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('youthcouncil2015.msaken')
            .pfblock-line
            .pfblock-subtitle= t('youthcouncil2015.projectMsaken')
    // .contaier
    // The Gallery as lightbox dialog, should be a child element of the document body
    .container
      #linksminiProjectMsaken
        a(href="img/msaken2015/miniProject/1.jpg", title="M'Saken mini project 2015", data-gallery="")
          img(src="img/msaken2015/miniProject/1.jpg", alt="1" , height="100", width="120")

        a(href="img/msaken2015/miniProject/2.jpg", title="M'Saken mini project 2015", data-gallery="")
          img(src="img/msaken2015/miniProject/2.jpg", alt="1" , height="100", width="120")

        a(href="img/msaken2015/miniProject/3.jpg", title="M'Saken mini project 2015", data-gallery="")
          img(src="img/msaken2015/miniProject/3.jpg", alt="1" , height="100", width="120")

        a(href="img/msaken2015/miniProject/4.jpg", title="M'Saken mini project 2015", data-gallery="")
          img(src="img/msaken2015/miniProject/4.jpg", alt="1" , height="100", width="120")

        a(href="img/msaken2015/miniProject/5.jpg", title="M'Saken mini project 2015", data-gallery="")
          img(src="img/msaken2015/miniProject/5.jpg", alt="1" , height="100", width="120")

        a(href="img/msaken2015/miniProject/6.jpg", title="M'Saken mini project 2015", data-gallery="")
          img(src="img/msaken2015/miniProject/6.jpg", alt="1" , height="100", width="120")

        a(href="img/msaken2015/miniProject/7.jpg", title="M'Saken mini project 2015", data-gallery="")
          img(src="img/msaken2015/miniProject/7.jpg", alt="1" , height="100", width="120")

        a(href="img/msaken2015/miniProject/8.jpg", title="M'Saken mini project 2015", data-gallery="")
          img(src="img/msaken2015/miniProject/8.jpg", alt="1" , height="100", width="120")
  // miniProjectM 2013 ends: description + gallery

  // Event Atini Aidi
  section#projects.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            .pfblock-line
            .pfblock-subtitle= t('youthcouncil2015.atiniAidi')
    // .contaier
    // The Gallery as lightbox dialog, should be a child element of the document body
    .container
      #linksminiProjectMsaken
        a(href="img/msaken2015/atiniAidi/1.jpg", title="M'Saken mini project 2015", data-gallery="")
          img(src="img/msaken2015/atiniAidi/1.jpg", alt="1" , height="100", width="120")

        a(href="img/msaken2015/atiniAidi/2.jpg", title="M'Saken mini project 2015", data-gallery="")
          img(src="img/msaken2015/atiniAidi/2.jpg", alt="1" , height="100", width="120")

        a(href="img/msaken2015/atiniAidi/3.jpg", title="M'Saken mini project 2015", data-gallery="")
          img(src="img/msaken2015/atiniAidi/3.jpg", alt="1" , height="100", width="120")

        a(href="img/msaken2015/atiniAidi/4.jpg", title="M'Saken mini project 2015", data-gallery="")
          img(src="img/msaken2015/atiniAidi/4.jpg", alt="1" , height="100", width="120")
  // end event atini aidi

  // Event fitness creed
  section#projects.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            .pfblock-line
            .pfblock-subtitle= t('youthcouncil2015.fitnessCreed')
    // .contaier
    // The Gallery as lightbox dialog, should be a child element of the document body
    .container
      #linksminiProjectMsaken
        a(href="img/msaken2015/fitnessCreed/1.jpg", title="M'Saken Event fitness creed", data-gallery="")
          img(src="img/msaken2015/fitnessCreed/1.jpg", alt="1" , height="100", width="120")

        a(href="img/msaken2015/fitnessCreed/2.jpg", title="M'Saken Event fitness creed", data-gallery="")
          img(src="img/msaken2015/fitnessCreed/2.jpg", alt="1" , height="100", width="120")

        a(href="img/msaken2015/fitnessCreed/3.jpg", title="M'Saken Event fitness creed", data-gallery="")
          img(src="img/msaken2015/fitnessCreed/3.jpg", alt="1" , height="100", width="120")

        a(href="img/msaken2015/fitnessCreed/4.jpg", title="M'Saken Event fitness creed", data-gallery="")
          img(src="img/msaken2015/fitnessCreed/4.jpg", alt="1" , height="100", width="120")

        a(href="img/msaken2015/fitnessCreed/5.jpg", title="M'Saken Event fitness creed", data-gallery="")
          img(src="img/msaken2015/fitnessCreed/5.jpg", alt="1" , height="100", width="120")

        a(href="img/msaken2015/fitnessCreed/6.jpg", title="M'Saken Event fitness creed", data-gallery="")
          img(src="img/msaken2015/fitnessCreed/6.jpg", alt="1" , height="100", width="120")
  // end event fitness creed

  // Event forum d'orientation
  section#projects.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            .pfblock-line
            .pfblock-subtitle= t('youthcouncil2015.forumOrientation')
    // .contaier
    // The Gallery as lightbox dialog, should be a child element of the document body
    .container
      #linksminiProjectMsaken
        a(href="img/msaken2015/forumOrientation/1.jpg", title="M'Saken forum", data-gallery="")
          img(src="img/msaken2015/forumOrientation/1.jpg", alt="1" , height="100", width="120")

        a(href="img/msaken2015/forumOrientation/2.jpg", title="M'Saken forum", data-gallery="")
          img(src="img/msaken2015/forumOrientation/2.jpg", alt="1" , height="100", width="120")

        a(href="img/msaken2015/forumOrientation/3.jpg", title="M'Saken forum", data-gallery="")
          img(src="img/msaken2015/forumOrientation/3.jpg", alt="1" , height="100", width="120")

        a(href="img/msaken2015/forumOrientation/4.jpg", title="M'Saken forum", data-gallery="")
          img(src="img/msaken2015/forumOrientation/4.jpg", alt="1" , height="100", width="120")

        a(href="img/msaken2015/forumOrientation/5.jpg", title="M'Saken forum", data-gallery="")
          img(src="img/msaken2015/forumOrientation/5.jpg", alt="1" , height="100", width="120")
  // end event forum d'orientation

  // Event dream
  section#projects.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            .pfblock-line
            .pfblock-subtitle= t('youthcouncil2015.dream')
    // .contaier
    // The Gallery as lightbox dialog, should be a child element of the document body
    .container
      #linksminiProjectMsaken
        a(href="img/msaken2015/revez/1.jpg", title="M'Saken dreams", data-gallery="")
          img(src="img/msaken2015/revez/1.jpg", alt="1" , height="100", width="120")

        a(href="img/msaken2015/revez/2.jpg", title="M'Saken dreams", data-gallery="")
          img(src="img/msaken2015/revez/2.jpg", alt="1" , height="100", width="120")

        a(href="img/msaken2015/revez/3.jpg", title="M'Saken dreams", data-gallery="")
          img(src="img/msaken2015/revez/3.jpg", alt="1" , height="100", width="120")

        a(href="img/msaken2015/revez/4.jpg", title="M'Saken dreams", data-gallery="")
          img(src="img/msaken2015/revez/4.jpg", alt="1" , height="100", width="120")

        a(href="img/msaken2015/revez/4.jpg", title="M'Saken dreams", data-gallery="")
          img(src="img/msaken2015/revez/4.jpg", alt="1" , height="100", width="120")

        a(href="img/msaken2015/revez/4.jpg", title="M'Saken dreams", data-gallery="")
          img(src="img/msaken2015/revez/4.jpg", alt="1" , height="100", width="120")

        a(href="img/msaken2015/revez/5.jpg", title="M'Saken dreams", data-gallery="")
          img(src="img/msaken2015/revez/5.jpg", alt="1" , height="100", width="120")

        a(href="img/msaken2015/revez/6.jpg", title="M'Saken dreams", data-gallery="")
          img(src="img/msaken2015/revez/6.jpg", alt="1" , height="100", width="120")
  // end event dream

  // ==========================================================================
  // Monastir
  // ==========================================================================
  section#projects.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('youthcouncil2015.monastir')
            .pfblock-line
            .pfblock-subtitle= t('youthcouncil2015.projectMonastir')
    // .contaier
  // miniProjectM 2013 ends: description + gallery    

  //- // ==========================================================================
  //- // Sousse
  //- // ==========================================================================
  //- section#projects.pfblock
  //-   .container
  //-     .row
  //-       .col-sm-6.col-sm-offset-3
  //-         .pfblock-header.wow.fadeInUp
  //-           h2.pfblock-title= t('youthcouncil2015.monastir')
  //-           .pfblock-line
  //-           .pfblock-subtitle= t('youthcouncil2015.projectMonastir')
    // .contaier
  // miniProjectM 2013 ends: description + gallery 

  // Erriadh team: description
  section#erriadh.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('team.erriadhYC')
            .pfblock-line
            .pfblock-subtitle= t('team.erriadhDescription')
            .media
              .media-left
                img.media-object(src='img/coordinators/AymenHadjFarhat.jpg', alt='46', height="160", width="180")
              .media-body
                h4.media-heading= t('team.coordinatorErriadh')
                span= t('team.coordinatorErriadhDescription')

  // Hammam Sousse team: description
  section#hammamSousse.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('team.hsYC')
            .pfblock-line
            .pfblock-subtitle= t('team.hsDescription')
            .media
              .media-left
                img.media-object(src='img/coordinators/HanenJrad.jpg', alt='48', height="160", width="180")
              .media-body
                h4.media-heading= t('team.coordinatorHS')
                span= t('team.coordinatorHSDescription')
            .media
              .media-left
                img.media-object(src='img/hammamSousse2015/hibaKalbousi.jpg', alt='49', height="160", width="180")
              .media-body
                h4.media-heading= t('team.hsMember2')
                span= t('team.coordinatorHSDescription')
            .media
              .media-left
                img.media-object(src='img/hammamSousse2015/hichemHosny.jpg', alt='50', height="160", width="180")
              .media-body
                h4.media-heading= t('team.hsMember4')
                span= t('team.coordinatorHSDescription')
            .media
              .media-left
                img.media-object(src='img/hammamSousse2015/meriamBenMustapha.jpg', alt='51', height="160", width="180")
              .media-body
                h4.media-heading= t('team.hsMember1')
                span= t('team.coordinatorHSDescription')
            .media
              .media-left
                img.media-object(src='img/hammamSousse2015/naiimbsili.jpg', alt='52', height="160", width="180")
              .media-body
                h4.media-heading= t('team.hsMember3')
                span= t('team.coordinatorHSDescription')
            .media
              .media-left
                img.media-object(src='img/hammamSousse2015/nidhalChemkhi.jpg', alt='53', height="160", width="180")
              .media-body
                h4.media-heading= t('team.hsMember5')
                span= t('team.coordinatorHSDescription')

  // Kalaa Kebira team: description
  section#kalaaKebira.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('team.kkYC')
            .pfblock-line
            .pfblock-subtitle= t('team.kkDescription')
            .media
              .media-left
                img.media-object(src='img/coordinators/MarwenBenArbia.jpg', alt='48', height="160", width="180")
              .media-body
                h4.media-heading= t('team.coordinatorKK')
                span= t('team.coordinatorKKDescription')

  // Ksibet Mediouni team: description
  section#ksibetMediouni.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('team.kmYC')
            .pfblock-line
            .pfblock-subtitle= t('team.kmDescription')
            .media
              .media-left
                img.media-object(src='img/coordinators/AymenBenRomdhane.jpg', alt='49', height="160", width="180")
              .media-body
                h4.media-heading= t('team.coordinatorKM')
                span= t('team.coordinatorKMDescription')

  // Monastir team: description
  section#monastir.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('team.monastirYC')
            .pfblock-line
            .pfblock-subtitle= t('team.monastirDescritpion')
            .media
              .media-left
                img.media-object(src='img/coordinators/Ranim.jpg', alt='50', height="160", width="180")
              .media-body
                h4.media-heading= t('team.coordinatorMonastir')
                span= t('team.coordinatorMonastirDescription')

  // Msaken team: description
  section#msaken.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('team.msakenYC')
            .pfblock-line
            .pfblock-subtitle= t('team.msakenDescription')
            .media
              .media-left
                img.media-object(src='img/coordinators/Ilyes.jpg', alt='51', height="160", width="180")
              .media-body
                h4.media-heading= t('team.coordinatorMsaken')
                span= t('team.coordinatorMsakenDescription')

  // Erriadh team: description
  section#sousse.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('team.sousseYC')
            .pfblock-line
            .pfblock-subtitle= t('team.sousseDescription')
            .media
              .media-left
                img.media-object(src='img/coordinators/Mehdi.jpg', alt='46', height="160", width="180")
              .media-body
                h4.media-heading= t('team.coordinatorSousse')
                span= t('team.coordinatorSousseDescription')

  // ==========================================================================
  // Study trip 2015
  // ==========================================================================
  section#studyTrip.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('youthcouncil2015.studyTrip')
            .pfblock-line
            //.pfblock-subtitle= t('youthcouncil2015.figCaptionDescription2')
      // The Gallery as lightbox dialog, should be a child element of the document body
      .container
        #linksstudyTrip2015
          a(href="img/studyTrip2015/1.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2015/1.jpg", alt="1" , height="100", width="120")

          a(href="img/studyTrip2015/2.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2015/2.jpg", alt="2", height="100", width="120")

          a(href="img/studyTrip2015/3.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2015/3.jpg", alt="3" , height="100", width="120")

          a(href="img/studyTrip2015/4.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2015/4.jpg", alt="4" , height="100", width="120")

          a(href="img/studyTrip2015/5.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2015/5.jpg", alt="5" , height="100", width="120")

          a(href="img/studyTrip2015/6.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2015/6.jpg", alt="6" , height="100", width="120")

          a(href="img/studyTrip2015/7.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2015/7.jpg", alt="7" , height="100", width="120")

          a(href="img/studyTrip2015/8.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2015/8.jpg", alt="8" , height="100", width="120")

          a(href="img/studyTrip2015/9.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2015/9.jpg", alt="9" , height="100", width="120")

          a(href="img/studyTrip2015/10.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2015/10.jpg", alt="10" , height="100", width="120")

          a(href="img/studyTrip2015/11.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2015/11.jpg", alt="11" , height="100", width="120")

          a(href="img/studyTrip2015/12.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2015/12.jpg", alt="12" , height="100", width="120")  

          a(href="img/studyTrip2015/13.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2015/13.jpg", alt="13" , height="100", width="120")  

          a(href="img/studyTrip2015/14.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2015/14.jpg", alt="14" , height="100", width="120")  

          a(href="img/studyTrip2015/15.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2015/15.jpg", alt="15" , height="100", width="120")  

          a(href="img/studyTrip2015/16.jpg",title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2015/16.jpg", alt="16" , height="100", width="120") 

          a(href="img/studyTrip2015/17.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2015/17.jpg", alt="17" , height="100", width="120") 

          a(href="img/studyTrip2015/18.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2015/18.jpg", alt="18" , height="100", width="120") 

          a(href="img/studyTrip2015/19.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2015/19.jpg", alt="19" , height="100", width="120")
    // .contaier
  // study Trip 2015 ends: description + gallery

  // ==========================================================================
  // Final conference
  // ==========================================================================
  section#finalconference.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('youthcouncil2015.finalConference')
            .pfblock-line
            .pfblock-subtitle= t('youthcouncil2015.conferenceDescrip')
    // .container
    // The Gallery as lightbox dialog, should be a child element of the document body
    .container
      #linksfinalConference
        a(href="img/finalconference/1.jpg", title="Training & workshop 2015", data-gallery="")
            img(src="img/finalconference/1.jpg", alt="1" , height="100", width="120")

        a(href="img/finalconference/2.jpg", title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/2.jpg", alt="2", height="100", width="120")

        a(href="img/finalconference/3.jpg", title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/3.jpg", alt="3" , height="100", width="120")

        a(href="img/finalconference/4.jpg", title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/4.jpg", alt="4" , height="100", width="120")

        a(href="img/finalconference/5.jpg", title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/5.jpg", alt="5" , height="100", width="120")

        a(href="img/finalconference/6.jpg", title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/6.jpg", alt="6" , height="100", width="120")

        a(href="img/finalconference/7.jpg", title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/7.jpg", alt="7" , height="100", width="120")

        a(href="img/finalconference/8.jpg", title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/8.jpg", alt="8" , height="100", width="120")

        a(href="img/finalconference/9.jpg", title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/9.jpg", alt="9" , height="100", width="120")

        a(href="img/finalconference/10.jpg", title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/10.jpg", alt="10" , height="100", width="120")

        a(href="img/finalconference/11.jpg", title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/11.jpg", alt="11" , height="100", width="120")

        a(href="img/finalconference/12.jpg", title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/12.jpg", alt="12" , height="100", width="120")  

        a(href="img/finalconference/13.jpg", title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/13.jpg", alt="13" , height="100", width="120")  

        a(href="img/finalconference/14.jpg", title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/14.jpg", alt="14" , height="100", width="120")  

        a(href="img/finalconference/15.jpg", title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/15.jpg", alt="15" , height="100", width="120")  

        a(href="img/finalconference/16.jpg", title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/16.jpg", alt="16" , height="100", width="120") 

        a(href="img/finalconference/17.jpg", title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/17.jpg", alt="17" , height="100", width="120") 

        a(href="img/finalconference/18.jpg", title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/18.jpg", alt="18" , height="100", width="120") 

        a(href="img/finalconference/19.jpg",title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/19.jpg", alt="19" , height="100", width="120")

        a(href="img/finalconference/20.jpg",title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/20.jpg", alt="20" , height="100", width="120")

        a(href="img/finalconference/21.jpg",title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/21.jpg", alt="21" , height="100", width="120")

        a(href="img/finalconference/22.jpg",title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/22.jpg", alt="22" , height="100", width="120")

        a(href="img/finalconference/23.jpg",title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/23.jpg", alt="23" , height="100", width="120") 

        a(href="img/finalconference/24.jpg",title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/24.jpg", alt="24" , height="100", width="120") 

        a(href="img/finalconference/25.jpg",title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/25.jpg", alt="25" , height="100", width="120") 

        a(href="img/finalconference/26.jpg",title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/26.jpg", alt="26" , height="100", width="120") 

        a(href="img/finalconference/27.jpg",title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/27.jpg", alt="27" , height="100", width="120") 

        a(href="img/finalconference/28.jpg",title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/28.jpg", alt="28" , height="100", width="120") 

        a(href="img/finalconference/29.jpg",title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/29.jpg", alt="29" , height="100", width="120") 

        a(href="img/finalconference/30.jpg",title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/30.jpg", alt="30" , height="100", width="120") 

        a(href="img/finalconference/31.jpg",title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/31.jpg", alt="31" , height="100", width="120") 

        a(href="img/finalconference/32.jpg",title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/32.jpg", alt="32" , height="100", width="120") 

        a(href="img/finalconference/33.jpg",title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/33.jpg", alt="33" , height="100", width="120") 

        a(href="img/finalconference/34.jpg",title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/34.jpg", alt="34" , height="100", width="120") 

        a(href="img/finalconference/35.jpg",title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/35.jpg", alt="35" , height="100", width="120") 

        a(href="img/finalconference/36.jpg",title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/36.jpg", alt="36" , height="100", width="120")     

        a(href="img/finalconference/37.jpg",title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/37.jpg", alt="37" , height="100", width="120") 

        a(href="img/finalconference/38.jpg",title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/38.jpg", alt="38" , height="100", width="120") 

        a(href="img/finalconference/39.jpg",title="Training & workshop 2015", data-gallery="")
          img(src="img/finalconference/39.jpg", alt="39" , height="100", width="120") 


block footer  
   
  script.
    document.getElementById('trainingPictures').onclick = function (event) {
      event = event || window.event;
      var target = event.target || event.srcElement,
          link = target.src ? target.parentNode : target,
          options = {index: link, event: event},
          links = this.getElementsByTagName('a');
      blueimp.Gallery