extends layout
  
block content

  // Preloader
  div#preloader
    div#status

  // Home start
  section#homeyouthcouncil2013.pfblock-image.screen-height
    .home-overlay
    .intro
      .start= t('home.start2013')
      a(href='#training')= t('home.achievement')
      .start= t('home.startDescription')
    a(href='#training')
      .scroll-down
        span
          i.fa.fa-angle-down.fa-2x
  // Home end

  // Navigation start
  header.header
    nav.navbar.navbar-custom(role="navigation")
      .container
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#custom-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/")= t('home.start')
        #custom-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href="#home")= t('nav.home')
            li
              a(href="#trainingWorkshop2013")= t('nav.youthcouncil2015') 
            li
              a(href="#miniprojects")= t('nav.youthcouncil2013') 
            li
              a(href="#teams")= t('nav.teams') 
            li
              a(href="#partners")= t('nav.partners') 
            li
              a(href="#contact")= t('nav.contact') 
            li
              a.aFlag.dropdown-toggle(type='button', data-toggle='dropdown')
                span.fa.fa-flag
                span= t('nav.languages')
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='?setLng=ar')= t('nav.arabe') 
                li.divider
                li
                  a(href='?setLng=en')= t('nav.english') 
                li.divider
                li
                  a(href='?setLng=fr')= t('nav.french') 
                li.divider
                li
                  a(href='?setLng=dev')= t('nav.test') 
    // .container
  // Navigation end

  // training & workshop 2013 starts: description + gallery
  section#trainingWorkshop2013.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('youthcouncil2013.training2013')
            .pfblock-line
            .pfblock-subtitle= t('youthcouncil2013.figCaptionDescription1')
      // The Gallery as lightbox dialog, should be a child element of the document body
      .container
        // The Bootstrap Image Gallery lightbox, should be a child element of the document body
        #blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
          // The container for the modal slides
          .slides
          // Controls for the borderless lightbox
          h3.title
          a.prev &#8249;
          a.next &#8250;
          a.close &#215;
          a.play-pause
          ol.indicator
          // The modal dialog, which will be used to wrap the lightbox content
          .modal.fade
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type="button", aria-hidden="true") &#215;
                  h4.modal-title
                .modal-body.next
                .modal-footer
                  button.btn.btn-primary.pull-left.prev(type="button")
                    i.fa.fa-arrow-left
                    | Previous
                  button.btn.btn-primary.next(type="button")
                    | Next
                    i.fa.fa-arrow-right
     
        #trainingPictures
          a(href="img/training2013/1.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/1.jpg", alt="1" , height="100", width="120")

          a(href="img/training2013/2.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/2.jpg", alt="2", height="100", width="120")

          a(href="img/training2013/3.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/3.jpg", alt="3" , height="100", width="120")

          a(href="img/training2013/4.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/4.jpg", alt="4" , height="100", width="120")

          a(href="img/training2013/5.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/5.jpg", alt="5" , height="100", width="120")

          a(href="img/training2013/6.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/6.jpg", alt="6" , height="100", width="120")

          a(href="img/training2013/7.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/7.jpg", alt="7" , height="100", width="120")

          a(href="img/training2013/8.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/8.jpg", alt="8" , height="100", width="120")

          a(href="img/training2013/9.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/9.jpg", alt="9" , height="100", width="120")

          a(href="img/training2013/10.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/10.jpg", alt="10" , height="100", width="120")

          a(href="img/training2013/11.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/11.jpg", alt="11" , height="100", width="120")

          a(href="img/training2013/12.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/12.jpg", alt="12" , height="100", width="120")  

          a(href="img/training2013/13.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/13.jpg", alt="13" , height="100", width="120")  

          a(href="img/training2013/14.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/14.jpg", alt="14" , height="100", width="120")  

          a(href="img/training2013/15.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/15.jpg", alt="15" , height="100", width="120")  

          a(href="img/training2013/16.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/16.jpg", alt="16" , height="100", width="120") 

          a(href="img/training2013/17.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/17.jpg", alt="17" , height="100", width="120") 

          a(href="img/training2013/18.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/18.jpg", alt="18" , height="100", width="120") 

          a(href="img/training2013/19.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/19.jpg", alt="19" , height="100", width="120")

          a(href="img/training2013/20.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/20.jpg", alt="20" , height="100", width="120")

          a(href="img/training2013/21.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/21.jpg", alt="21" , height="100", width="120")

          a(href="img/training2013/22.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/22.jpg", alt="22" , height="100", width="120")

          a(href="img/training2013/23.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/23.jpg", alt="23" , height="100", width="120") 

          a(href="img/training2013/24.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/24.jpg", alt="24" , height="100", width="120") 

          a(href="img/training2013/25.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/25.jpg", alt="25" , height="100", width="120") 

          a(href="img/training2013/26.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/26.jpg", alt="26" , height="100", width="120") 

          a(href="img/training2013/27.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/27.jpg", alt="27" , height="100", width="120") 

          a(href="img/training2013/28.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/28.jpg", alt="28" , height="100", width="120") 

          a(href="img/training2013/29.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/29.jpg", alt="29" , height="100", width="120") 

          a(href="img/training2013/30.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/30.jpg", alt="30" , height="100", width="120") 

          a(href="img/training2013/31.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/31.jpg", alt="31" , height="100", width="120") 

          a(href="img/training2013/32.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/32.jpg", alt="32" , height="100", width="120") 

          a(href="img/training2013/33.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/33.jpg", alt="33" , height="100", width="120") 

          a(href="img/training2013/34.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/34.jpg", alt="34" , height="100", width="120") 

          a(href="img/training2013/35.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/35.jpg", alt="35" , height="100", width="120") 

          a(href="img/training2013/36.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="img/training2013/36.jpg", alt="36" , height="100", width="120")       
    // .contaier
  // training & workshop 2013 ends: description + gallery


  // ===========================================================================
  // mini projets 2013 starts
  // ===========================================================================
  // call to action starts
  section.calltoaction
    .container
      .row
        .col-md-12.col-lg-12
          h2.wow.slideInRight(data-wow-delay=".1s")= t('youthcouncil2013.projects')
          .calltoaction-decription.wow.slideInRight(data-wow-delay=".2s")= t('youthcouncil2013.figCaptionDescription2')
      // .row
    // .container
  // call to action ends

  // ==========================================================================
  // Hammam Sousse
  // ==========================================================================
  section#miniprojects2013.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('team.textCenter2')
            .pfblock-line
            .pfblock-subtitle= t('youthcouncil2013.figCaptionDescription2')
      // The Gallery as lightbox dialog, should be a child element of the document body
      .container
        #miniProjectHS
          a(href="img/HammamSousse/1.jpg", title="Hammam Sousse mini project 2013", data-gallery="")
            img(src="img/HammamSousse/1.jpg", alt="1" , height="100", width="120")

          a(href="img/HammamSousse/2.jpg", title="Hammam Sousse mini project 2013", data-gallery="")
            img(src="img/HammamSousse/2.jpg", alt="2", height="100", width="120")

          a(href="img/HammamSousse/3.jpg", title="Hammam Sousse mini project 2013", data-gallery="")
            img(src="img/HammamSousse/3.jpg", alt="3" , height="100", width="120")

          a(href="img/HammamSousse/4.jpg", title="Hammam Sousse mini project 2013", data-gallery="")
            img(src="img/HammamSousse/4.jpg", alt="4" , height="100", width="120")

          a(href="img/HammamSousse/5.jpg", title="Hammam Sousse mini project 2013", data-gallery="")
            img(src="img/HammamSousse/5.jpg", alt="5" , height="100", width="120")

          a(href="img/HammamSousse/6.jpg", title="Hammam Sousse mini project 2013", data-gallery="")
            img(src="img/HammamSousse/6.jpg", alt="6" , height="100", width="120")

          a(href="img/HammamSousse/7.jpg", title="Hammam Sousse mini project 2013", data-gallery="")
            img(src="img/HammamSousse/7.jpg", alt="7" , height="100", width="120")

          a(href="img/HammamSousse/8.jpg", title="Hammam Sousse mini project 2013", data-gallery="")
            img(src="img/HammamSousse/8.jpg", alt="8" , height="100", width="120")

          a(href="img/HammamSousse/9.jpg", title="Hammam Sousse mini project 2013", data-gallery="")
            img(src="img/HammamSousse/9.jpg", alt="9" , height="100", width="120")

          a(href="img/HammamSousse/10.jpg", title="Hammam Sousse mini project 2013", data-gallery="")
            img(src="img/HammamSousse/10.jpg", alt="10" , height="100", width="120")

          a(href="img/HammamSousse/11.jpg", title="Hammam Sousse mini project 2013", data-gallery="")
            img(src="img/HammamSousse/11.jpg", alt="11" , height="100", width="120")

          a(href="img/HammamSousse/12.jpg", title="Hammam Sousse mini project 2013", data-gallery="")
            img(src="img/HammamSousse/12.jpg", alt="12" , height="100", width="120")  

          a(href="img/HammamSousse/13.jpg", title="Hammam Sousse mini project 2013", data-gallery="")
            img(src="img/HammamSousse/13.jpg", alt="13" , height="100", width="120")  

          a(href="img/HammamSousse/14.jpg", title="Hammam Sousse mini project 2013", data-gallery="")
            img(src="img/HammamSousse/14.jpg", alt="14" , height="100", width="120")  

          a(href="img/HammamSousse/15.jpg", title="Hammam Sousse mini project 2013", data-gallery="")
            img(src="img/HammamSousse/15.jpg", alt="15" , height="100", width="120")  

          a(href="img/HammamSousse/16.jpg", title="Hammam Sousse mini project 2013", data-gallery="")
            img(src="img/HammamSousse/16.jpg", alt="16" , height="100", width="120") 

          a(href="img/HammamSousse/17.jpg", title="Hammam Sousse mini project 2013", data-gallery="")
            img(src="img/HammamSousse/17.jpg", alt="17" , height="100", width="120") 

          a(href="img/HammamSousse/18.jpg", title="Hammam Sousse mini project 2013", data-gallery="")
            img(src="img/HammamSousse/18.jpg", alt="18" , height="100", width="120") 

          a(href="img/HammamSousse/19.jpg", title="Hammam Sousse mini project 2013", data-gallery="")
            img(src="img/HammamSousse/19.jpg", alt="19" , height="100", width="120")

          a(href="img/HammamSousse/20.jpg", title="Hammam Sousse mini project 2013", data-gallery="")
            img(src="img/HammamSousse/20.jpg", alt="20" , height="100", width="120")

          a(href="img/HammamSousse/21.jpg", title="Hammam Sousse mini project 2013", data-gallery="")
            img(src="img/HammamSousse/21.jpg", alt="21" , height="100", width="120")
    // .contaier
  // miniProjectHS 2013 ends: description + gallery

  // ==========================================================================
  // Kalaa Kebira
  // ==========================================================================
  section#miniprojects2013.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('team.textCenter3')
            .pfblock-line
            .pfblock-subtitle= t('youthcouncil2013.figCaptionDescription2')
      // The Gallery as lightbox dialog, should be a child element of the document body
      .container
        #miniProjectKK
          a(href="img/KalaaKebira2013/1.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/1.jpg", alt="1" , height="100", width="120")

          a(href="img/KalaaKebira2013/2.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/2.jpg", alt="2", height="100", width="120")

          a(href="img/KalaaKebira2013/3.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/3.jpg", alt="3" , height="100", width="120")

          a(href="img/KalaaKebira2013/4.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/4.jpg", alt="4" , height="100", width="120")

          a(href="img/KalaaKebira2013/5.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/5.jpg", alt="5" , height="100", width="120")

          a(href="img/KalaaKebira2013/6.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/6.jpg", alt="6" , height="100", width="120")

          a(href="img/KalaaKebira2013/7.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/7.jpg", alt="7" , height="100", width="120")

          a(href="img/KalaaKebira2013/8.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/8.jpg", alt="8" , height="100", width="120")

          a(href="img/KalaaKebira2013/9.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/9.jpg", alt="9" , height="100", width="120")

          a(href="img/KalaaKebira2013/10.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/10.jpg", alt="10" , height="100", width="120")

          a(href="img/KalaaKebira2013/11.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/11.jpg", alt="11" , height="100", width="120")

          a(href="img/KalaaKebira2013/12.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/12.jpg", alt="12" , height="100", width="120")  

          a(href="img/KalaaKebira2013/13.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/13.jpg", alt="13" , height="100", width="120")  

          a(href="img/KalaaKebira2013/14.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/14.jpg", alt="14" , height="100", width="120")  

          a(href="img/KalaaKebira2013/15.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/15.jpg", alt="15" , height="100", width="120")  

          a(href="img/KalaaKebira2013/16.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/16.jpg", alt="16" , height="100", width="120") 

          a(href="img/KalaaKebira2013/17.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/17.jpg", alt="17" , height="100", width="120") 

          a(href="img/KalaaKebira2013/18.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/18.jpg", alt="18" , height="100", width="120") 

          a(href="img/KalaaKebira2013/19.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/19.jpg", alt="19" , height="100", width="120")

          a(href="img/KalaaKebira2013/20.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/20.jpg", alt="20" , height="100", width="120")

          a(href="img/KalaaKebira2013/21.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/21.jpg", alt="21" , height="100", width="120")

          a(href="img/KalaaKebira2013/22.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/22.jpg", alt="22" , height="100", width="120")

          a(href="img/KalaaKebira2013/23.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/23.jpg", alt="23" , height="100", width="120")

          a(href="img/KalaaKebira2013/24.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/24.jpg", alt="24" , height="100", width="120")

          a(href="img/KalaaKebira2013/25.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/25.jpg", alt="25" , height="100", width="120")

          a(href="img/KalaaKebira2013/26.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/26.jpg", alt="26" , height="100", width="120")

          a(href="img/KalaaKebira2013/27.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/27.jpg", alt="27" , height="100", width="120")

          a(href="img/KalaaKebira2013/28.jpg", title="Kalaa Kebira mini project 2013", data-gallery="")
            img(src="img/KalaaKebira2013/28.jpg", alt="28" , height="100", width="120")

    // .contaier
  // miniProjectKK 2013 ends: description + gallery

  // ==========================================================================
  // Monastir
  // ==========================================================================
  section#miniprojects2013.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('team.textCenter5')
            .pfblock-line
            .pfblock-subtitle= t('youthcouncil2013.figCaptionDescription2')
      // The Gallery as lightbox dialog, should be a child element of the document body
      .container
        #miniProjectM
          a(href="img/Monastir2013/1.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/1.jpg", alt="1" , height="100", width="120")

          a(href="img/Monastir2013/2.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/2.jpg", alt="2", height="100", width="120")

          a(href="img/Monastir2013/3.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/3.jpg", alt="3" , height="100", width="120")

          a(href="img/Monastir2013/4.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/4.jpg", alt="4" , height="100", width="120")

          a(href="img/Monastir2013/5.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/5.jpg", alt="5" , height="100", width="120")

          a(href="img/Monastir2013/6.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/6.jpg", alt="6" , height="100", width="120")

          a(href="img/Monastir2013/7.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/7.jpg", alt="7" , height="100", width="120")

          a(href="img/Monastir2013/8.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/8.jpg", alt="8" , height="100", width="120")

          a(href="img/Monastir2013/9.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/9.jpg", alt="9" , height="100", width="120")

          a(href="img/Monastir2013/10.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/10.jpg", alt="10" , height="100", width="120")

          a(href="img/Monastir2013/11.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/11.jpg", alt="11" , height="100", width="120")

          a(href="img/Monastir2013/12.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/12.jpg", alt="12" , height="100", width="120")  

          a(href="img/Monastir2013/13.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/13.jpg", alt="13" , height="100", width="120")  

          a(href="img/Monastir2013/14.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/14.jpg", alt="14" , height="100", width="120")  

          a(href="img/Monastir2013/15.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/15.jpg", alt="15" , height="100", width="120")  

          a(href="img/Monastir2013/16.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/16.jpg", alt="16" , height="100", width="120") 

          a(href="img/Monastir2013/17.jpg", title="Monastirmini project 2013", data-gallery="")
            img(src="img/Monastir2013/17.jpg", alt="17" , height="100", width="120") 

          a(href="img/Monastir2013/18.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/18.jpg", alt="18" , height="100", width="120") 

          a(href="img/Monastir2013/19.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/19.jpg", alt="19" , height="100", width="120")

          a(href="img/Monastir2013/20.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/20.jpg", alt="20" , height="100", width="120")

          a(href="img/Monastir2013/21.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/21.jpg", alt="21" , height="100", width="120")

          a(href="img/Monastir2013/22.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/22.jpg", alt="22" , height="100", width="120")

          a(href="img/Monastir013/23.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/23.jpg", alt="23" , height="100", width="120")

          a(href="img/Monastir2013/24.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/24.jpg", alt="24" , height="100", width="120")

          a(href="img/Monastir2013/25.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/25.jpg", alt="25" , height="100", width="120")

          a(href="img/Monastir2013/26.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/26.jpg", alt="26" , height="100", width="120")

          a(href="img/Monastir2013/27.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/27.jpg", alt="27" , height="100", width="120")

          a(href="img/Monastir2013/28.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/28.jpg", alt="28" , height="100", width="120")

          a(href="img/Monastir2013/29.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/29.jpg", alt="29" , height="100", width="120")

          a(href="img/Monastir2013/30.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/30.jpg", alt="30" , height="100", width="120")

          a(href="img/Monastir2013/31.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/31.jpg", alt="31" , height="100", width="120")

          a(href="img/Monastir2013/32.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/32.jpg", alt="32" , height="100", width="120")

          a(href="img/Monastir2013/33.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/33.jpg", alt="33" , height="100", width="120")

          a(href="img/Monastir2013/3-3.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/3-3.jpg", alt="3-3" , height="100", width="120")

          a(href="img/Monastir2013/32.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/33.jpg", alt="33" , height="100", width="120")

          a(href="img/Monastir2013/34.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/34.jpg", alt="34" , height="100", width="120")

          a(href="img/Monastir2013/35.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/35.jpg", alt="35" , height="100", width="120")

          a(href="img/Monastir2013/36.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/36.jpg", alt="36" , height="100", width="120")

          a(href="img/Monastir2013/37.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/37.jpg", alt="37" , height="100", width="120")

          a(href="img/Monastir2013/38.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/38.jpg", alt="38" , height="100", width="120")

          a(href="img/Monastir2013/39.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/39.jpg", alt="39" , height="100", width="120")

          a(href="img/Monastir2013/40.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/40.jpg", alt="40" , height="100", width="120")

          a(href="img/Monastir2013/41.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/41.jpg", alt="41" , height="100", width="120")

          a(href="img/Monastir2013/42.jpg", title="Monastir mini project 2013", data-gallery="")
            img(src="img/Monastir2013/42.jpg", alt="42" , height="100", width="120")

    // .contaier
  // miniProjectM 2013 ends: description + gallery


  // ==========================================================================
  // Study trip 2013
  // ==========================================================================
  section#studyTrip2013.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('youthcouncil2013.studyTrip')
            .pfblock-line
            .pfblock-subtitle= t('youthcouncil2013.figCaptionDescription2')
      // The Gallery as lightbox dialog, should be a child element of the document body
      .container
        #studyTrip2013
          a(href="img/studyTrip2013/1.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2013/1.jpg", alt="1" , height="100", width="120")

          a(href="img/studyTrip2013/2.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2013/2.jpg", alt="2", height="100", width="120")

          a(href="img/studyTrip2013/3.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2013/3.jpg", alt="3" , height="100", width="120")

          a(href="img/studyTrip2013/4.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2013/4.jpg", alt="4" , height="100", width="120")

          a(href="img/studyTrip2013/5.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2013/5.jpg", alt="5" , height="100", width="120")

          a(href="img/studyTrip2013/6.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2013/6.jpg", alt="6" , height="100", width="120")

          a(href="img/studyTrip2013/7.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2013/7.jpg", alt="7" , height="100", width="120")

          a(href="img/studyTrip2013/8.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2013/8.jpg", alt="8" , height="100", width="120")

          a(href="img/studyTrip2013/9.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2013/9.jpg", alt="9" , height="100", width="120")

          a(href="img/studyTrip2013/10.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2013/10.jpg", alt="10" , height="100", width="120")

          a(href="img/studyTrip2013/11.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2013/11.jpg", alt="11" , height="100", width="120")

          a(href="img/studyTrip2013/12.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2013/12.jpg", alt="12" , height="100", width="120")  

          a(href="img/studyTrip2013/13.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2013/13.jpg", alt="13" , height="100", width="120")  

          a(href="img/studyTrip2013/14.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2013/14.jpg", alt="14" , height="100", width="120")  

          a(href="img/studyTrip2013/15.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2013/15.jpg", alt="15" , height="100", width="120")  

          a(href="img/studyTrip2013/16.jpg",title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2013/16.jpg", alt="16" , height="100", width="120") 

          a(href="img/studyTrip2013/17.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2013/17.jpg", alt="17" , height="100", width="120") 

          a(href="img/studyTrip2013/18.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2013/18.jpg", alt="18" , height="100", width="120") 

          a(href="img/studyTrip2013/19.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2013/19.jpg", alt="19" , height="100", width="120")

          a(href="img/studyTrip2013/20.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2013/20.jpg", alt="20" , height="100", width="120")

          a(href="img/studyTrip2013/21.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2013/21.jpg", alt="21" , height="100", width="120")

          a(href="img/studyTrip2013/22.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2013/22.jpg", alt="22" , height="100", width="120")

          a(href="img/studyTrip2013/23.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2013/23.jpg", alt="23" , height="100", width="120")

          a(href="img/studyTrip2013/24.jpg", title="Study trip 2013", data-gallery="")
            img(src="img/studyTrip2013/24.jpg", alt="24" , height="100", width="120")   
    // .contaier
  // study Trip 2013 ends: description + gallery

  // ==========================================================================
  // Art competition
  // ==========================================================================
  section#artCompetition.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('youthcouncil2013.artCompetition')
            .pfblock-line
            .pfblock-subtitle= t('youthcouncil2013.figCaptionDescription3')
      // The Gallery as lightbox dialog, should be a child element of the document body
      .container
        #artCompetition
          a(href="img/artCompetition/1.jpg", title="Art competition", data-gallery="")
            img(src="img/artCompetition/1.jpg", alt="1" , height="100", width="120")

          a(href="img/artCompetition/2.jpg", title="Art competition", data-gallery="")
            img(src="img/artCompetition/2.jpg", alt="2", height="100", width="120")

          a(href="img/artCompetition/3.jpg", title="Art competition", data-gallery="")
            img(src="img/artCompetition/3.jpg", alt="3" , height="100", width="120")

          a(href="img/artCompetition/4.jpg", title="Art competition", data-gallery="")
            img(src="img/artCompetition/4.jpg", alt="4" , height="100", width="120")

          a(href="img/artCompetition/5.jpg", title="Art competition", data-gallery="")
            img(src="img/artCompetition/5.jpg", alt="5" , height="100", width="120")

          a(href="img/artCompetition/6.jpg", title="Art competition", data-gallery="")
            img(src="img/artCompetition/6.jpg", alt="6" , height="100", width="120")

          a(href="img/artCompetition/7.jpg", title="Art competition", data-gallery="")
            img(src="img/artCompetition/7.jpg", alt="7" , height="100", width="120")

          a(href="img/artCompetition/8.jpg", title="Art competition", data-gallery="")
            img(src="img/artCompetition/8.jpg", alt="8" , height="100", width="120")

          a(href="img/artCompetition/9.jpg", title="Art competition", data-gallery="")
            img(src="img/artCompetition/9.jpg", alt="9" , height="100", width="120")

          a(href="img/artCompetition/10.jpg", title="Art competition", data-gallery="")
            img(src="img/artCompetition/10.jpg", alt="10" , height="100", width="120")

          a(href="img/artCompetition/11.jpg", title="Art competition", data-gallery="")
            img(src="img/artCompetition/11.jpg", alt="11" , height="100", width="120")

          a(href="img/artCompetition/12.jpg", title="Art competition", data-gallery="")
            img(src="img/artCompetition/12.jpg", alt="12" , height="100", width="120")  

          a(href="img/artCompetition/13.jpg", title="Art competition", data-gallery="")
            img(src="img/artCompetition/13.jpg", alt="13" , height="100", width="120")  

          a(href="img/artCompetition/14.jpg", title="Art competition", data-gallery="")
            img(src="img/artCompetition/14.jpg", alt="14" , height="100", width="120")  

          a(href="img/artCompetition/15.jpg", title="Art competition", data-gallery="")
            img(src="img/artCompetition/15.jpg", alt="15" , height="100", width="120")  

          a(href="img/artCompetition/16.jpg",title="Art competition", data-gallery="")
            img(src="img/artCompetition/16.jpg", alt="16" , height="100", width="120") 

          a(href="img/artCompetition/17.jpg", title="Art competition", data-gallery="")
            img(src="img/artCompetition/17.jpg", alt="17" , height="100", width="120") 

          a(href="img/artCompetition/18.jpg", title="Art competition", data-gallery="")
            img(src="img/artCompetition/18.jpg", alt="18" , height="100", width="120") 

          a(href="img/artCompetition/19.jpg", title="Art competition", data-gallery="")
            img(src="img/artCompetition/19.jpg", alt="19" , height="100", width="120")

          a(href="img/artCompetition/20.jpg", title="Art competition", data-gallery="")
            img(src="img/artCompetition/20.jpg", alt="20" , height="100", width="120")

          a(href="img/artCompetition/21.jpg", title="Art competition", data-gallery="")
            img(src="img/artCompetition/21.jpg", alt="21" , height="100", width="120")

          a(href="img/artCompetition/22.jpg", title="Art competition", data-gallery="")
            img(src="img/artCompetition/22.jpg", alt="22" , height="100", width="120")

          a(href="img/artCompetition/23.jpg", title="Art competition", data-gallery="")
            img(src="img/artCompetition/23.jpg", alt="23" , height="100", width="120")
    // .contaier
  // art Competition ends: description + gallery


  // ================================================================
  //        Guide book
  // ================================================================
  // call to action starts
  section.calltoaction
    .container
      .row
        .col-md-12.col-lg-12
          h2.wow.slideInRight(data-wow-delay=".1s")= t('youthcouncil2013.guideBook') 
          .calltoaction-decription.wow.slideInRight(data-wow-delay=".2s")= t('youthcouncil2013.guideBookDescription')
        .col-md-12.col-lg-12.calltoaction-btn.wow.slideInRight(data-wow-delay=".3s")
          a.btn.btn-lg(href="/guidebook")= t('youthcouncil2015.download')
      // .row
    // .container
  // call to action ends
  
  // ==================================================================
  //      Newspaper
  // ==================================================================
  // Youth council 2013 starts
  section#newspaper.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('youthcouncil2013.figCaptionTitle51')
            .pfblock-line
            .pfblock-subtitle= t('youthcouncil2013.figCaptionDescription5')            
      // .row
      .row
        .col-xs-12.col-sm-4.col-md-4
          .grid.wow.zoomIn
            figure.effect-bubba
              img(src="/img/newspapers/1.jpg",height="250", width="360",alt="img01")
              figcaption                
                a(href='/newspaperAout')
                h2= t('youthcouncil2013.figCaptionTitle51') 
                p= t('youthcouncil2013.firtEdition')
        .col-xs-12.col-sm-4.col-md-4
          .grid.wow.zoomIn
            figure.effect-bubba
              img(src="/img/newspapers/newspaper_aout.png",height="250", width="360",alt="img01")
              figcaption
                a(href='/newspaperSept')
                h2= t('youthcouncil2013.figCaptionTitle51')
                p= t('youthcouncil2013.secondEdition')
        .col-xs-12.col-sm-4.col-md-4
          .grid.wow.zoomIn
            figure.effect-bubba
              img(src="/img/newspapers/newspaper_september.png",height="250", width="360",alt="img01")
              figcaption
                a(href='/newspaperSept')
                h2= t('youthcouncil2013.figCaptionTitle51')
                p= t('youthcouncil2013.thirdEdition')




block footer  
   
  script.
    document.getElementById('trainingPictures').onclick = function (event) {
      event = event || window.event;
      var target = event.target || event.srcElement,
          link = target.src ? target.parentNode : target,
          options = {index: link, event: event},
          links = this.getElementsByTagName('a');
      blueimp.Gallery(links, options);
    };