extends layout
  
block content

  // Preloader
  div#preloader
    div#status

  // Home start
  section#homeyouthcouncil2015.pfblock-image.screen-height
    .home-overlay
    .intro
      .start= t('home.start2013')
      a(href='#training')= t('home.achievement')
      .start= t('home.startDescription')
    a(href='#training')
      .scroll-down
        span
          i.fa.fa-angle-down.fa-2x
  // Home end

  // Navigation start
  header.header
    nav.navbar.navbar-custom(role="navigation")
      .container
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#custom-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/")= t('home.start')
        #custom-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href="/")= t('nav.home')
            li
              a(href="/youthcouncil2015")= t('nav.youthcouncil2015') 
            li
              a(href="/youthcouncil2013")= t('nav.youthcouncil2013') 
            li
              a(href="/#teams")= t('nav.teams') 
            li
              a(href="/#partners")= t('nav.partners') 
            li
              a(href="/#contact")= t('nav.contact') 
            li
              a.aFlag.dropdown-toggle(type='button', data-toggle='dropdown')
                span.fa.fa-flag
                span= t('nav.languages')
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='?setLng=ar')= t('nav.arabe') 
                li.divider
                li
                  a(href='?setLng=en')= t('nav.english') 
                li.divider
                li
                  a(href='?setLng=fr')= t('nav.french') 
                li.divider
                li
                  a(href='?setLng=dev')= t('nav.test') 
    // .container
  // Navigation end

  // training & workshop 2015 starts: description + gallery
  section#training.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('youthcouncil2015.training2015')
            .pfblock-line
            .pfblock-subtitle= t('youthcouncil2015.trainingDescription')
      // The Gallery as lightbox dialog, should be a child element of the document body
      .container
        // The Bootstrap Image Gallery lightbox, should be a child element of the document body
        #blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
          // The container for the modal slides
          .slides
          // Controls for the borderless lightbox
          h3.title
          a.prev &#8249;
          a.next &#8250;
          a.close &#215;
          a.play-pause
          ol.indicator
          // The modal dialog, which will be used to wrap the lightbox content
          .modal.fade
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type="button", aria-hidden="true") &#215;
                  h4.modal-title
                .modal-body.next
                .modal-footer
                  button.btn.btn-primary.pull-left.prev(type="button")
                    i.fa.fa-arrow-left
                    | Previous
                  button.btn.btn-primary.next(type="button")
                    | Next
                    i.fa.fa-arrow-right
     
        #linkstrainingPictures
          a(href="img/training2015/1.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/1.png", alt="1" , height="100", width="120")

          a(href="img/training2015/2.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/2.png", alt="2", height="100", width="120")

          a(href="img/training2015/3.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/3.png", alt="3" , height="100", width="120")

          a(href="img/training2015/4.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/4.png", alt="4" , height="100", width="120")

          a(href="img/training2015/5.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/5.png", alt="5" , height="100", width="120")

          a(href="img/training2015/6.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/6.png", alt="6" , height="100", width="120")

          a(href="img/training2015/7.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/7.png", alt="7" , height="100", width="120")

          a(href="img/training2015/8.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/8.png", alt="8" , height="100", width="120")

          a(href="img/training2015/9.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/9.png", alt="9" , height="100", width="120")

          a(href="img/training2015/10.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/10.png", alt="10" , height="100", width="120")

          a(href="img/training2015/11.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/11.png", alt="11" , height="100", width="120")

          a(href="img/training2015/12.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/12.png", alt="12" , height="100", width="120")  

          a(href="img/training2015/13.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/13.png", alt="13" , height="100", width="120")  

          a(href="img/training2015/14.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/14.png", alt="14" , height="100", width="120")  

          a(href="img/training2015/15.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/15.png", alt="15" , height="100", width="120")  

          a(href="img/training2015/16.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/16.png", alt="16" , height="100", width="120") 

          a(href="img/training2015/17.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/17.png", alt="17" , height="100", width="120") 

          a(href="img/training2015/18.png", title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/18.png", alt="18" , height="100", width="120") 

          a(href="img/training2015/19.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/19.png", alt="19" , height="100", width="120")

          a(href="img/training2015/20.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/20.png", alt="20" , height="100", width="120")

          a(href="img/training2015/21.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/21.png", alt="21" , height="100", width="120")

          a(href="img/training2015/22.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/22.png", alt="22" , height="100", width="120")

          a(href="img/training2015/23.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/23.png", alt="23" , height="100", width="120") 

          a(href="img/training2015/24.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/24.png", alt="24" , height="100", width="120") 

          a(href="img/training2015/25.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/25.png", alt="25" , height="100", width="120") 

          a(href="img/training2015/26.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/26.png", alt="26" , height="100", width="120") 

          a(href="img/training2015/27.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/27.png", alt="27" , height="100", width="120") 

          a(href="img/training2015/28.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/28.png", alt="28" , height="100", width="120") 

          a(href="img/training2015/29.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/29.png", alt="29" , height="100", width="120") 

          a(href="img/training2015/30.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/30.png", alt="30" , height="100", width="120") 

          a(href="img/training2015/31.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/31.png", alt="31" , height="100", width="120") 

          a(href="img/training2015/32.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/32.png", alt="32" , height="100", width="120") 

          a(href="img/training2015/33.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/33.png", alt="33" , height="100", width="120") 

          a(href="img/training2015/34.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/34.png", alt="34" , height="100", width="120") 

          a(href="img/training2015/35.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/35.png", alt="35" , height="100", width="120") 

          a(href="img/training2015/36.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/36.png", alt="36" , height="100", width="120")     

          a(href="img/training2015/37.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/37.png", alt="37" , height="100", width="120") 

          a(href="img/training2015/38.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/38.png", alt="38" , height="100", width="120") 

          a(href="img/training2015/39.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/39.png", alt="39" , height="100", width="120") 

          a(href="img/training2015/40.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/40.png", alt="40" , height="100", width="120") 

          a(href="img/training2015/41.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/41.png", alt="41" , height="100", width="120") 

          a(href="img/training2015/42.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/42.png", alt="42" , height="100", width="120") 

          a(href="img/training2015/43.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/43.png", alt="43" , height="100", width="120") 

          a(href="img/training2015/44.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/44.png", alt="44" , height="100", width="120") 

          a(href="img/training2015/45.png",title="Training & workshop 2015", data-gallery="")
            img(src="img/training2015/45.png", alt="45" , height="100", width="120")   
    // .contaier
  // training & workshop 2015 ends: description + gallery

  // ==========================================================================
  // ERRIADH
  // ==========================================================================
  section#projects.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('team.textCenter1')
            .pfblock-line
            .pfblock-subtitle= t('youthcouncil2015.projectErriadh')
    // .contaier
  // miniProjectHS 2013 ends: description + gallery

  //- // ==========================================================================
  //- // Hammam Sousse
  //- // ==========================================================================
  //- section#projects.pfblock
  //-   .container
  //-     .row
  //-       .col-sm-6.col-sm-offset-3
  //-         .pfblock-header.wow.fadeInUp
  //-           h2.pfblock-title= t('team.textCenter2')
  //-           .pfblock-line
  //-           .pfblock-subtitle= t('youthcouncil2013.figCaptionDescription2')
  //-   // .contaier
  //- // miniProjectHS 2013 ends: description + gallery

  // ==========================================================================
  // Kalaa Kebira
  // ==========================================================================
  section#projects.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('team.textCenter3')
            .pfblock-line
            .pfblock-subtitle= t('youthcouncil2015.projectKK')
    // .contaier
  // miniProjectKK 2013 ends: description + gallery

  //- // ==========================================================================
  //- // Monastir
  //- // ==========================================================================
  //- section#projects.pfblock
  //-   .container
  //-     .row
  //-       .col-sm-6.col-sm-offset-3
  //-         .pfblock-header.wow.fadeInUp
  //-           h2.pfblock-title= t('team.textCenter5')
  //-           .pfblock-line
  //-           .pfblock-subtitle= t('youthcouncil2013.figCaptionDescription2')
  //-   // .contaier
  //- // miniProjectM 2013 ends: description + gallery            

  // Erriadh team: description
  section#erriadh.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('team.erriadhYC')
            .pfblock-line
            .pfblock-subtitle= t('team.erriadhDescription')
            .media
              .media-left
                img.media-object(src='img/coordinators/AymenHadjFarhat.jpg', alt='46', height="160", width="180")
              .media-body
                h4.media-heading= t('team.coordinatorErriadh')
                span= t('team.coordinatorErriadhDescription')

  // Hammam Sousse team: description
  section#hammamSousse.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('team.hsYC')
            .pfblock-line
            .pfblock-subtitle= t('team.hsDescription')
            .media
              .media-left
                img.media-object(src='img/coordinators/HanenJrad.jpg', alt='47', height="160", width="180")
              .media-body
                h4.media-heading= t('team.coordinatorHS')
                span= t('team.coordinatorHSDescription')

  // Kalaa Kebira team: description
  section#kalaaKebira.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('team.kkYC')
            .pfblock-line
            .pfblock-subtitle= t('team.kkDescription')
            .media
              .media-left
                img.media-object(src='img/coordinators/MarwenBenArbia.jpg', alt='48', height="160", width="180")
              .media-body
                h4.media-heading= t('team.coordinatorKK')
                span= t('team.coordinatorKKDescription')

  // Ksibet Mediouni team: description
  section#ksibetMediouni.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('team.kmYC')
            .pfblock-line
            .pfblock-subtitle= t('team.kmDescription')
            .media
              .media-left
                img.media-object(src='img/coordinators/AymenBenRomdhane.jpg', alt='49', height="160", width="180")
              .media-body
                h4.media-heading= t('team.coordinatorKM')
                span= t('team.coordinatorKMDescription')

  // Monastir team: description
  section#monastir.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('team.monastirYC')
            .pfblock-line
            .pfblock-subtitle= t('team.monastirDescritpion')
            .media
              .media-left
                img.media-object(src='img/coordinators/Ranim.jpg', alt='50', height="160", width="180")
              .media-body
                h4.media-heading= t('team.coordinatorMonastir')
                span= t('team.coordinatorMonastirDescription')

  // Msaken team: description
  section#msaken.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('team.msakenYC')
            .pfblock-line
            .pfblock-subtitle= t('team.msakenDescription')
            .media
              .media-left
                img.media-object(src='img/coordinators/Ilyes.jpg', alt='51', height="160", width="180")
              .media-body
                h4.media-heading= t('team.coordinatorMsaken')
                span= t('team.coordinatorMsakenDescription')

  // Erriadh team: description
  section#sousse.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('team.sousseYC')
            .pfblock-line
            .pfblock-subtitle= t('team.sousseDescription')
            .media
              .media-left
                img.media-object(src='img/coordinators/Mehdi.jpg', alt='46', height="160", width="180")
              .media-body
                h4.media-heading= t('team.coordinatorSousse')
                span= t('team.coordinatorSousseDescription')








block footer  
   
  script.
    document.getElementById('trainingPictures').onclick = function (event) {
      event = event || window.event;
      var target = event.target || event.srcElement,
          link = target.src ? target.parentNode : target,
          options = {index: link, event: event},
          links = this.getElementsByTagName('a');
      blueimp.Gallery(links, options);
    };
     
        