extends ../layout

block content

  // Preloader
  div#preloader
    div#status

  // Home start
  section#homeyouthcouncil2013.pfblock-image.screen-height
    .home-overlay
    .intro
      .start= t('home.start2013')
      a(href='#training')= t('home.achievement')
      .start= t('home.startDescription')
    a(href='#training')
      .scroll-down
        span
          i.fa.fa-angle-down.fa-2x
  // Home end

  // Navigation start
  header.header
    nav.navbar.navbar-custom(role="navigation")
      .container
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#custom-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/")= t('home.start')
        #custom-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href="/")= t('nav.home')
            li
              a(href="/youthcouncil2016")= t('nav.youthcouncil2016')
            li
              a.aFlag.dropdown-toggle(type='button', data-toggle='dropdown')
                span= t('nav.previous_editions')
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href="/youthcouncil2016")= t('nav.youthcouncil2016') 
                li
                  a(href="/youthcouncil2013")= t('nav.youthcouncil2013')
            li
              a(href="/#partners")= t('nav.partners')
            li
              a(href="/#contact")= t('nav.contact')
            li
              a.aFlag.dropdown-toggle(type='button', data-toggle='dropdown')
                span.fa.fa-flag
                span= t('nav.languages')
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='?setLng=ar')= t('nav.arabe')
                li.divider
                li
                  a(href='?setLng=en')= t('nav.english')
                li.divider
                li
                  a(href='?setLng=fr')= t('nav.french')
                li.divider
                li
                  a(href='?setLng=dev')= t('nav.test')
    // .container
  // Navigation end

  // training & workshop 2016 starts: description + gallery
  section#training.pfblock
    .container
      .row
        .col-sm-6.col-sm-offset-3
          .pfblock-header.wow.fadeInUp
            h2.pfblock-title= t('youthcouncil2013.training2013')
            .pfblock-line
            .pfblock-subtitle= t('youthcouncil2013.figCaptionDescription1')
      // The Gallery as lightbox dialog, should be a child element of the document body
      .container
        // The Bootstrap Image Gallery lightbox, should be a child element of the document body
        #blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
          // The container for the modal slides
          .slides
          // Controls for the borderless lightbox
          h3.title
          a.prev &#8249;
          a.next &#8250;
          a.close &#215;
          a.play-pause
          ol.indicator
          // The modal dialog, which will be used to wrap the lightbox content
          .modal.fade
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type="button", aria-hidden="true") &#215;
                  h4.modal-title
                .modal-body.next
                .modal-footer
                  button.btn.btn-primary.pull-left.prev(type="button")
                    i.fa.fa-arrow-left
                    | Previous
                  button.btn.btn-primary.next(type="button")
                    | Next
                    i.fa.fa-arrow-right

        #linkstrainingPictures
          a(href="../img/training2013/1.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/1.jpg", alt="1" , height="100", width="120")

          a(href="../img/training2013/2.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/2.jpg", alt="2", height="100", width="120")

          a(href="../img/training2013/3.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/3.jpg", alt="3" , height="100", width="120")

          a(href="../img/training2013/4.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/4.jpg", alt="4" , height="100", width="120")

          a(href="../img/training2013/5.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/5.jpg", alt="5" , height="100", width="120")

          a(href="../img/training2013/6.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/6.jpg", alt="6" , height="100", width="120")

          a(href="../img/training2013/7.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/7.jpg", alt="7" , height="100", width="120")

          a(href="../img/training2013/8.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/8.jpg", alt="8" , height="100", width="120")

          a(href="../img/training2013/9.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/9.jpg", alt="9" , height="100", width="120")

          a(href="../img/training2013/10.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/10.jpg", alt="10" , height="100", width="120")

          a(href="../img/training2013/11.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/11.jpg", alt="11" , height="100", width="120")

          a(href="../img/training2013/12.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/12.jpg", alt="12" , height="100", width="120")

          a(href="../img/training2013/13.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/13.jpg", alt="13" , height="100", width="120")

          a(href="../img/training2013/14.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/14.jpg", alt="14" , height="100", width="120")

          a(href="../img/training2013/15.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/15.jpg", alt="15" , height="100", width="120")

          a(href="../img/training2013/16.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/16.jpg", alt="16" , height="100", width="120")

          a(href="../img/training2013/17.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/17.jpg", alt="17" , height="100", width="120")

          a(href="../img/training2013/18.jpg", title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/18.jpg", alt="18" , height="100", width="120")

          a(href="../img/training2013/19.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/19.jpg", alt="19" , height="100", width="120")

          a(href="../img/training2013/20.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/20.jpg", alt="20" , height="100", width="120")

          a(href="../img/training2013/21.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/21.jpg", alt="21" , height="100", width="120")

          a(href="../img/training2013/22.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/22.jpg", alt="22" , height="100", width="120")

          a(href="../img/training2013/23.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/23.jpg", alt="23" , height="100", width="120")

          a(href="../img/training2013/24.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/24.jpg", alt="24" , height="100", width="120")

          a(href="../img/training2013/25.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/25.jpg", alt="25" , height="100", width="120")

          a(href="../img/training2013/26.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/26.jpg", alt="26" , height="100", width="120")

          a(href="../img/training2013/27.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/27.jpg", alt="27" , height="100", width="120")

          a(href="../img/training2013/28.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/28.jpg", alt="28" , height="100", width="120")

          a(href="../img/training2013/29.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/29.jpg", alt="29" , height="100", width="120")

          a(href="../img/training2013/30.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/30.jpg", alt="30" , height="100", width="120")

          a(href="../img/training2013/31.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/31.jpg", alt="31" , height="100", width="120")

          a(href="../img/training2013/32.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/32.jpg", alt="32" , height="100", width="120")

          a(href="../img/training2013/33.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/33.jpg", alt="33" , height="100", width="120")

          a(href="../img/training2013/34.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/34.jpg", alt="34" , height="100", width="120")

          a(href="../img/training2013/35.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/35.jpg", alt="35" , height="100", width="120")

          a(href="../img/training2013/36.jpg",title="Training & workshop 2013", data-gallery="")
            img(src="../img/training2013/36.jpg", alt="36" , height="100", width="120")
    // .contaier
  // training & workshop 2013 ends: description + gallery

block footer

  script.
    document.getElementById('trainingPictures').onclick = function (event) {
      event = event || window.event;
      var target = event.target || event.srcElement,
          link = target.src ? target.parentNode : target,
          options = {index: link, event: event},
          links = this.getElementsByTagName('a');
      blueimp.Gallery
